html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}


.logo {
  margin: 0;
  margin-bottom: 50px;
}

.navigation-links {
  margin: 0;
  margin-bottom: 50px;
}

.navigation-link {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 24px 49px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.download-link {
  color: #3f2aff;
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  background-image: url("../img/download.png");
  position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.navigation-link:last-child {
  margin: 0;
  margin-right: 0;
}

.articles-main {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.articles-main * {
  margin-top: 0;
}

.main-title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  color: #333;
}

.paragraph {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.principle{
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.marked-block{
  margin: 0;
  border-radius: 20px;
  padding: 30px;
  background-origin:padding-box;
  background-position: right;
  background-repeat: no-repeat;
  background-color:  #f3f3f3;
}

.marked-block:not(:last-child){
  margin-bottom: 40px;
}

.marked-block-paragraph{
  width: 692px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.marked-block-paragraph:last-child{
  margin-bottom: 0px;
}

.marked-block-list {
  padding-left: 15px;
  margin-bottom: 0;
}

.marked-block-list-item {
  margin: 0;
  margin-bottom: 20px;
}

.marked-block-list-item::marker {
  color: #3f2aff
};

.marked-block-background-image{
  background-image: url("../img/decorate-1.png");
}

.marked-block-background-image:last-child{
  background-image: url("../img/decorate-2.png");
}
.content-link{
  border-bottom: solid 1px;
  font-size: 20px;
  color: #3f2aff;
}

.image{
  margin: 0;
  margin-bottom: 40px;
}

.image-block-img{
  margin-bottom: 0px;
}

.image-block {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  font-size: 0;
  max-width: 872px;
}

.image-block-caption{
  border: solid 1px #b6b6b6;
  border-top: none;
  padding: 0;
  padding: 19px 0px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.h2-title{
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.h3-title{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.marked-block-list-item:last-child {
  margin-bottom: 0px;
}

